# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Distribution / Build
build/
dist/
*.spec

# IDE / OS
.idea/
.vscode/
.DS_Store

# User Data / Test Files
*.pdf
*.fcpxml
*.mp4
*.mov
log.txt
